<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Node Web Server</title>
  </head>
  <body>
    {{> header}}
    <p>Projects will be here soon</p>
  </body>

  {{> footer}}
</html>
